
/*********Blog **********/

.blog-page {
    margin-top: 200px;
    margin-left: 50px;
    margin-right: 50px;

}

/*********Image Card**********/

.image-card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust minmax value as needed */
  gap: 20px; /* Adjust gap for padding between items */
  padding: 20px; /* Optional: padding around the grid */
}

.image-card {
    width: 300px;
    height:200px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
  }
  
  .image-card-img {
    transition: transform 0.3s ease-in-out;
  }
  
  .image-card:hover .image-card-img {
    transform: scale(1.1);
  }
  
  .image-card-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
  }
  
  .image-card:hover .image-card-overlay {
    opacity: 1;
  }
  
  .image-card-title {
    color: white;
    font-size: 1.5rem;
    text-align: center;
  }

/*********Blog Entry**********/

.blog-entry {
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    margin: 16px 0;
    background-color: #f9f9f9;
  }
  
  .blog-entry-image {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 16px;
  }
  
  .blog-entry-title {
    font-size: 24px;
    margin: 0 0 8px;
  }
  
  .blog-entry-body {
    font-size: 16px;
    line-height: 1.5;
  }
  
